@model RésuméBuilder.Models.Applicant

@{
    ViewBag.Title = "ApplicantDetails";
}

<!-- Navigation Bar with Partial View -->
@Html.Partial("_NavBar")

<h2>Applicant Details for @Model.ApplicantID</h2>

<p>@Model.ApplicantID</p>
<p>@Model.ApplicantUsername</p>


<!--

    Scan Personals

    //Will require ViewModel





-->
