
@{
    ViewBag.Title = "NoApplicantsYet";
}

<!-- Navigation Bar with Partial View -->
@Html.Partial("_NavBar")

<h2>No Applicants Yet :(</h2>

<p>No Applicants have tried our service yet. Why not be the first?</p>

<p>Register @Html.ActionLink("[here]", "RegisterUserPageView", "Applicants")</p>