
@model RésuméBuilder.Models.Applicant


@{
    ViewBag.Title = "RegisterUserPageView";
}

<!-- Navigation Bar with Partial View -->
@Html.Partial("_NavBar")

<h2>RegisterUserPageView</h2>

<p>Register Using Form Below:</p>


@using (Html.BeginForm("RegisterUserFormAction", "Applicants", FormMethod.Post))
{

    <div class="form-group">
        @Html.LabelFor(a => a.ApplicantUsername)
        @Html.TextBoxFor(a => a.ApplicantUsername, new { @class = "form-control" })
    </div>

    <br />

    <input type="submit" class="btn btn-primary" value="Register">

}