<!-- This View uses the ViewModel-->

@model RésuméBuilder.ViewModels.ResumeViewModel


@{
    ViewBag.Title = "Résumé";
}

@Html.Partial("_ResumeStyle")

<h2>Résumé</h2>

<p>@Model.ApplicantRecordVM.ApplicantID</p>
<p>@Model.ApplicantRecordVM.ApplicantUsername</p>