<!-- This View uses the ViewModel-->

@model RésuméBuilder.ViewModels.ResumeViewModel


@{
    ViewBag.Title = "ResumeVM";
}

<h2>ResumeVM</h2>

<p>@Model.ApplicantRecordVM.ApplicantID</p>
<p>@Model.ApplicantRecordVM.ApplicantUsername</p>