
@{
    ViewBag.Title = "UsernameTaken";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Navigation Bar with Partial View -->
@Html.Partial("_NavBar")

<h2>Username Invalid</h2>

<p>The Username entered is either taken or... you entered no username at all!</p>

<p>
    Return to Registration Page and use a valid Username.

    @Html.ActionLink("[REGISTER HERE!]", "RegisterUserPageView")


</p>


<!-- COMPLETED -->