<!-- DYNAMICALLY ADD SKILL ROW -->
<!-- https://stackoverflow.com/questions/44972220/appending-a-div-onclick -->

<script src="https://code.jquery.com/jquery-2.2.3.min.js"
        integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
        crossorigin="anonymous">




</script>


<button class="appendbtn" type="button">Click to append</button>


