<!-- https://www.quirksmode.org/js/popup.html -->


<br />
<br />

<script language="javascript" type="text/javascript">

    function popitup(url) {
        newwindow = window.open(url, 'name', 'height=700,width=500');
        if (window.focus) { newwindow.focus() }
        return false;
    }

</script>

<a href="/Home/Contact" onclick="return popitup('/Home/Contact')">Contact me</a>