<!--


  Understanding State and Statelessness:
  https://www.c-sharpcorner.com/UploadFile/de41d6/view-state-vs-session-state-vs-application-state/

-->
<!-- JQUERY SCRIPTS FOR PERFORMING SPECIFIC FUNCTIONS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/scripts/jquery-3.1.1.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"
        integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
        crossorigin="anonymous">
</script>


@model RésuméBuilder.ViewModels.SkillsViewModel





@{
    ViewBag.Title = "AddSkillsPageView";

    //This value correlates to the ApplicantID between the Applicant and Personal Models
    var id = ViewBag.TargetID;

}


<body>

    <h2>Add Your Skills</h2>

    <h3>Add Skill Details for Registration ID @id</h3>

    <!--
       
        FUTURE WORK ===



        Add List to Controller via JS/JQUERY
        Non Sequential Indices
        
        
        OPTION A: WILL BE USED FOR SKILLS [WORKING]

        PART 01: [ADD SKILL] BUTTON
        - Add an [ADD SKILL] button. Each Click loads an instance of _SkillRowCreate PartialView

        PART 02: ADD SKILL Using _SkillRowCreate PartialView
        - Submit Button Sends Form Data to Controller Action
        - Each click triggers: load.html("Skill Added to Database!")
        - Add Option to DELETE Button
         - Format: [SUBMIT][DELETE]

        Ajax.BeginForm
        https://www.quizcure.com/jquery/jquery-refresh-div-ajax-click-interval
        https://www.w3schools.com/jquery/jquery_dom_add.asp





    
        OPTION B:

        PART 01: Use JS/JQUERY to send a JS/JQUERY Form with a List of items to a Controller Action
        PART 02: Let Controller Action Process List with a foreach loop and store items in DB

        Solution: https://stackoverflow.com/questions/8193030/how-get-the-values-of-multi-entries-when-added-in-fly-by-jquery-in-view-of-asp

    -->
    @Html.Partial("_SkillRowCreate")

    
    





</body>