
@{
    Layout = null;
    var id = Convert.ToInt32(Session["id"]);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SkillAddedSuccessfully</title>
    <meta http-equiv="Refresh" content="5;url=/Skills/AddSkillsPageView/@id" />
</head>
<body>
    <div>
    </div>
</body>
</html>


<h3>Skill Added Successfully!</h3>

<h4>Returning to Add Skills Page...</h4>