
@{
    ViewBag.Title = "SkillDetailsSuccess";
    var appid = ViewBag.ApplicantID;
}

<h2>Skill Details Success</h2>

<p>Success! You have successfully entered your Skill Details</p>

<p>You can now resume with your Résumé</p>

<p>
    Return to the Applicant List

    <!-- ActionLink Syntax: Link_Name, View_Name, View_Folder -->
    <!-- Goes to: Views/Applicants/ListOfApplicantsPageView -->
    <a href="/Applicants/ApplicantDetails/@appid">[HERE]</a>
</p>