
@{
    ViewBag.Title = "PersonalDetailsExist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Navigation Bar with Partial View -->
@Html.Partial("_NavBar")

<h2>Personal Details Already Exist</h2>

<p>
    Personal details were already provided and stored in the database.
    Perhaps consider updating your Personal information in the database?
</p>

<!-- COMPLETED -->