@{
    ViewBag.Title = "Home Page";
}

<!-- Navigation Bar with Partial View -->
@Html.Partial("_NavBar")

<div>


    <h1>Build a Résumé for Your Dream Job!</h1>


    <!-- Register as a User -->

    <!-- View List of Users -->



</div>