@{
    ViewBag.Title = "Home Page";
}



<!-- Internal CSS Styling -->
@Html.Partial("_InternalStyle")

<!-- Navigation Bar with Partial View -->
@Html.Partial("_NavBar")

<div>


    <h1>Build the Résumé for Your Dream Job!</h1>

    <br />

    <table id="actionOptions" cellspacing="50">

        <tbody >

            <tr>

                <td>
                    <!-- Register as a User -->
                    <form method="get" action="~/Applicants/RegisterUserPageView">
                        <input class="greenButton" type="submit" value="Register" />
                    </form>

                </td>        

            </tr>

            <tr></tr>

            <tr>

                <td>
                    <!-- View List of Users -->
                    <form method="get" action="~/Applicants/ListOfApplicantsPageView">
                        <input class="blueButton" type="submit" value="List of Applicants" />
                    </form>
                </td>

            </tr>

            
        </tbody>
        



    </table>

    


</div>